header{
	background-color:rgb(168,195,243);
	color:snow;
	padding:1px;
	border-radius:5px;
	text-align:center;
}
.e1{
	background-color:rgb(168,195,243);
	color:lightyellow;
	padding:1px;
	border-radius:5px;
	text-align:center;
}
body{
	background:radial-gradient(yellow 3%,white);
}
.body1{
	background:mintcream;
}
.body2{
	background:radial-gradient(pink 3%,white);
}

.allpage1{
	background:radial-gradient(rgb(220,250,230),white 60%);
	color:black;
	padding:1px;
	border-radius:5px;
	text-align:center
}
.e2{
	background-color: lightyellow;
}

li{
	width:160px;
	letter-spacing: 1.3px;
	word-break: keep-all;
}

.ul1{
	border:2px solid skyblue;
	border-radius:50px;
	padding:30px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	list-style: none;
	line-height: 2.5;
	text-underline-offset:5px;
	border-radius: 50px;

}


article{
	display:flex;
	flex-direction :row;
	flex-wrap: wrap;
	justify-content:center;
	align-items:center;

}

section{
	border:2px solid lightskyblue;
	background-color:white;
	margin:50px;
	padding:20px;
	border-radius:30px;
	box-shadow: 4px 4px 10px skyblue;
	letter-spacing: 1.3px;
}

h2{
	background-color:rgb(168,195,243);
	color: white;
	width:180px;
	height:30px;
	border-radius:100px;
	padding:8px;
	text-align: center;
}
.p1{
	background:radial-gradient(white,mistyrose);
	width:600px;
	height:140px;
	padding:25px;
	word-break:keep-all;
	line-height: 1.6;
	border-radius:60px;

}

.p3{
	background:radial-gradient(white,mistyrose);
	width:600px;
	height:170px;
	padding:25px;
	word-break:keep-all;
	line-height: 1.6;
	border-radius:60px;
}
.p2{
	background:radial-gradient(white,skyblue);
	width:600px;
	height:210px;
	padding:30px;
	word-break:keep-all;
	line-height: 1.8;
	border-radius:60px;
}
.p4{
	background:radial-gradient(white,skyblue);
	width:600px;
	height:300px;
	padding:30px;
	word-break:keep-all;
	line-height: 1.8;
	border-radius:60px;
}

.mc{
	background-color:rgb(168,195,243);
	width:350px;
	height:30px;
}
.lasttext{
	font-size: 20px;
	text-align: center;
	line-height:1.5;
	color:skyblue;
}
a{
	color:black;
	background-color: white;
	padding: 4px;
	border-radius: 10px;
	text-underline-offset:5px;
	text-decoration: none;
	transition:background-color 0.3s ease;
}
a:hover{
	background-color:skyblue;
}
.a1 {
  position: absolute;
  top:140px;
  width: 300px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(lightyellow, white);
  box-shadow: 4px 8px 10px 0px gray;
  border-radius: 20px;
  text-align: center;
  list-style: none;
  transition: box-shadow 0.3s ease;
}
.a1:hover {
  box-shadow: 4px 8px 20px 10px skyblue;
}
.a2 {
  position: absolute;
  top:450px;
  width: 300px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(mistyrose, white);
  box-shadow: 4px 8px 10px 0px gray;
  border-radius: 20px;
  text-align: center;
  list-style: none;
  transition: box-shadow 0.3s ease;
}
.a2:hover {
  box-shadow: 4px 8px 20px 10px skyblue; 
}
.file2{
	position: absolute;
	top: 425px;
	left:50px ;
	width:130px;
	height:40px;
	border-radius: 10px;
	background-color:mistyrose;
}
.file{
	position: absolute;
	top: 118px;
	left:50px ;
	width:130px;
	height:40px;
	border-radius: 10px;
	background-color:lightyellow;
}

@media screen and (max-width:900px){

header,
.e1{
	display:flex;
	justify-content:center;
	text-align: center;
}
section{
border:2px solid lightskyblue;
background-color:white;
margin:60px;
padding:20px;
border-radius:30px;
box-shadow: 4px 4px 10px skyblue;
letter-spacing: 1.3px;
align-items: center;
}
.p2{
	background:radial-gradient(white,skyblue);
	width:260px;
	height:400px;
	padding:20px;
	word-break:keep-all;
	line-height:1.6;
	border-radius:60px;
	font-size: 16px;
	text-align: center;
}
.p4{
	background:radial-gradient(white,skyblue);
	width:250px;
	height:580px;
	padding:25px;
	word-break:keep-all;
	line-height: 1.6;
	border-radius:60px;
	font-size:16px;
	text-align: center;
}
.p1{
	background:radial-gradient(white,mistyrose);
	width:250px;
	height:320px;
	padding:20px;
	word-break:keep-all;
	line-height:1.7;
	border-radius:60px;
	font-size: 16px;
	text-align: center;

}

.p3{
	background:radial-gradient(white,mistyrose);
	width:250px;
	height:460px;
	padding:20px;
	word-break:keep-all;
	line-height: 1.7;
	border-radius:60px;
	font-size: 16px;
	text-align: center;

}
li{
	width:160px;
	line-height:2.0
	letter-spacing:1.6px;
	word-break: keep-all;
}

.a1{
	position:absolute;
	top:150px;
	left:50px;
 	width:220px;
	height:150px;
	background:linear-gradient(lightyellow,white) ;	
	box-shadow: 4px 8px 10px 0px gray;
	border-radius:10px;
	text-align:center;
	list-style:none;
	display:flex;
	justify-content:center;
	align-items:center;
	
}
.file{
	position: absolute;
	top:130px;
	width:95px;
}
.a2{
	position:absolute;
	top:400px;
	left:50px;
 	width:220px;
	height:150px;
	background:linear-gradient(mistyrose,white) ;	
	box-shadow: 4px 8px 10px 0px gray;
	border-radius: 10px;
	text-align: center;
	list-style: none;
	display:flex;
	justify-content:center;
	align-items:center;
	word-break: keep-all;
}
.file2{
	position: absolute;
	top:375px;
	width:95px ;
}

h2{
	width:150px;
}
.mc{
	width: 200px;
}
img{
	width: 200px;
}
}
